# Target chip
CONFIG_IDF_TARGET="esp32p4"

# ==== WiFi Slave Configuration ====
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y

# ==== Example Wi-Fi settings ====
CONFIG_EXAMPLE_WIFI_SSID="FBI_VAN"
CONFIG_EXAMPLE_WIFI_PASS="vodka.lime.shot"

# ==== BSP / LVGL sanity ====
CONFIG_LV_CONF_MINIMAL=n
CONFIG_LV_USE_LABEL=y
CONFIG_LV_USE_LOG=n
