# Dependencies
/node_modules
/vendor

# Build output
/public/build
/public/hot

# Environment
.env
.env.backup
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.phpunit.result.cache
.phpunit.cache

# Debug
/storage/debugbar/

# Laravel
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# OS files
.DS_Store
Thumbs.db
